body {
  background-color: #f9fbc3;
}
.mainDiv {
  background-color: #b4a2f6;
}
.searchBtn {
  background-color: #fce54d;
}
.forHeight {
  height: 300px;
}
.baseAndStats {
  background-color: #ecaafb;
}
